@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
        url('./fonts/BebasNeueCyrillic.woff2') format('woff2'),
        url('BebasNeueCyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box;
}
.body {
    font-family: "Roboto", sans-serif;
}
.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596f5;
}
.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}
.navbar-item {
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-link {
    text-decoration: none;
    color: #fff;
}
.navbar-contacts {
    text-align: right;
}
.navbar-text {
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}
.navbar-phone {
    font-weight: bold;
    font-size:  17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}

.main {
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    display: flex;
}
.main-info{
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.home-image path {
    opacity: 0;
    cursor: pointer;
}
.home-image path:hover {
    opacity: 1;
}
path.current-floor {
    opacity: 1;
}
.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button {
    cursor: pointer;
    background-color: #fff;
    border: none;
}
.counter-arrow-button {
    transform: rotateX(180deg);
}
.main-title {
    margin: 0;
    font-family: 'Bebas Neue Cyrillic', sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 37px;
    color: #635854;
}
.flor-counter {
    font-family: 'Bebas Neue Cyrillic', sans-serif;
    color: #635854;
    font-size: 124px;
    margin-top: 10px;
}
.button-primary {
    background: #3596f5;
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
}
.is-open{
    opacity: 1;
    transform: scale(1);

}
.modal-dialog {
    position: relative;
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    opacity: 0;
    transform: translateX(-10%);
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
}
.is-open > .modal-dialog {
    opacity: 1;
    transform: translateY(0);
}
.modal-image {
    background-color: #ebebeb;
    width: 60%;
    text-align: center;
    padding: 50px;
}
.modal-title {
    font-family: 'Bebas Neue Cyrillic', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 25px;
}
.flats path {
    opacity: 0;
    cursor: pointer;
}
.flats path:hover {
    opacity: 1;
}

.modal-info {
    width: 40%;
    padding: 50px 46px;
}
.flat-list {
    padding: 0;
    list-style: none;
    margin-top: 55px;
}
.flat-item{
    margin-bottom: 10px;
}
.flat-link {
    font-weight: 16px;
    line-height: 19px;
    color: #635854;
    text-decoration: none;
}
.flat-link:hover {
    color: #3596f5;
    text-decoration: underline;
}
.modal-alert {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    margin-top: 56px;
}
.modal-close-button {
    position: absolute;
    top: 38px;
    right: 27px;
    cursor: pointer;
    border: none;
    background-color: #fff;
}